/* HotelCarousel.css */

/* Structure principale pour les perspectives 3D */
.card-perspective-wrapper {
  position: relative;
  width: 100%;
  height: 30vh;
  padding: 20px;
  margin: 20px 0 20px 0;
  perspective: 2000px;
  z-index: 1;
  background-color: #fa9b3d;
}

.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 1;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #e9d9ff;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Bouton d'action repositionné */
.action-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 20;
  background: linear-gradient(to right, #9557fa, #fa9b3d);;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}



.action-button .button-icon {
  color: white;
}

.action-button.is-flipped {
  background-color: white;
}

 .action-button.is-flipped .button-icon {
  color: white;
} 

 .action-button.is-flipped:hover {
  background-color: #2563eb;
} 

/* Structure du carousel */
.carousel-outer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.carousel-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  /* Nous utilisons maintenant space-evenly directement dans le style inline */
}

.carousel-item {
  flex: 0 0 auto;
  /* La largeur sera définie par le composant React */
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  /* Les marges seront appliquées par le composant React */
}

/* Boutons de navigation */
.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9557fa;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s;
}

.nav-button:hover {
  background-color: #9557fa;
}

.nav-prev {
  margin-right: 5px;
}

.nav-next {
  margin-left: 5px;
}

.nav-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}